extends layout

block content
  if geo
    h1 GeoIP data for #{host}
    include partials/geoip
  else if ips
    p Sorry, no GeoIP data available for #{host}!
  else
    p Sorry, dns lookup failed for #{host}
  include partials/form
